.container_bg {
    background-color: white;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botao {
    background-color: tomato;
    color:white ;
    border: 0px;
}